.Home {
    .HomeSection {
        position: relative;

        display: grid;
        justify-content: center;

        padding-inline: 5rem;

        overflow: hidden;
        width: 100%;
        aspect-ratio: 1.5;
        max-height: 100dvh;

        background-color: #000;

        .background {
            position: absolute;
            inset: 0;

            filter: blur(5px) brightness(.5);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .top {
        z-index: 1;

        display: grid;
        place-content: center;

        gap: 4rem;

        color: #FFF;

        header {

            h1 {
                font-size: 8rem;
                line-height: 7rem;
                font-weight: 800;
            }

            .subtitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .75rem;

                h2 {
                    font-size: 1.5rem;
                    font-weight: 300;
                    color: #DDD;
                }

                img {
                    height: 2rem;
                }
            }
        }

        footer {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .75rem;
                padding: .75rem 1.25rem;

                border: 2px solid #FFF;
                border-radius: 10px;

                color: #FFF;
                background-color: #0008;

                svg {
                    font-size: 1.25rem;
                }

                h3 {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }

    .HomeStats {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: calc(clamp(1rem, 5vw, 4rem) / 2);
        gap: calc(clamp(1rem, 5vw, 4rem) / 2);

        .stat {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;

            gap: .5rem;
            padding-inline: .5rem;

            svg {
                font-size: 2.5rem;
            }

            aside {
                text-align: center;

                h2 {
                    font-size: 1.25rem;
                    line-height: 1.2rem;
                    font-weight: 800;
                }

                h3 {
                    font-size: .75rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    color: #666;
                }
            }
        }
    }

    .topics {}
}

@media (max-width: 800px) {
    .Home {
        .top {
            justify-content: center;

            padding-inline: 2rem;

            main {
                place-content: center;

                gap: 2rem;

                header {

                    h1 {
                        font-size: 5rem;
                        line-height: 4.5rem;
                    }

                    .subtitle {
                        gap: .75rem;

                        h2 {
                            font-size: 1.25rem;
                        }

                        img {
                            height: 1.25rem;
                        }
                    }
                }

                footer {
                    gap: .75rem;

                    a {
                        padding: .75rem 1rem;
                        min-width: auto;

                        svg {
                            font-size: 1.25rem;
                        }

                        h3 {
                            display: none;
                        }
                    }
                }
            }
        }

        .stats {
            justify-content: space-around;

            .stat {
                svg {
                    font-size: 1.25rem;
                }

                aside {
                    h2 {
                        font-size: 1.25rem;
                    }

                    h3 {
                        font-size: .5rem;
                    }
                }
            }
        }
    }
}