.User {
    display: grid;
    gap: clamp(1rem, 5vw, 4rem);

    .userInfo {
        display: grid;
        place-content: center;

        gap: 1.5rem;

        .main {
            display: grid;
            place-content: center;
            gap: 1rem;

            img {
                margin: auto;
                overflow: hidden;
                height: 9rem;
                aspect-ratio: 1;

                border: 8px solid var(--background);
                outline: 4px solid var(--invert);
                border-radius: 50%;
            }

            section {
                display: grid;
                place-content: center;
                text-align: center;

                h2 {
                    font-size: 1.5rem;
                    font-weight: 800;
                }

                h3 {
                    font-size: .75rem;
                    font-weight: 400;
                    color: #888;
                }

            }

            footer {
                display: flex;
                justify-content: space-evenly;
                gap: 1.5rem;

                a {
                    display: grid;
                    place-content: center;

                    width: 3rem;
                    aspect-ratio: 1;

                    box-shadow: 0 0 5px #0003;
                    border-radius: 50%;

                    svg {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        p {
            width: 100%;
            max-width: 500px;

            padding: .5rem;

            text-align: center;
            text-wrap: balance;
        }

        .actions {
            display: grid;
            align-items: center;

            gap: 1.25rem;

            header {
                display: flex;
                align-items: center;
                justify-content: space-evenly;


                div {
                    display: grid;
                    place-content: center;
                    text-align: center;

                    h3 {
                        font-size: 1rem;
                        font-weight: 800;
                    }

                    h4 {
                        text-transform: capitalize;
                        font-size: .75rem;
                        font-weight: 400;
                        color: #888;
                    }
                }
            }

            footer {
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;

                :nth-child(2) {
                    flex: 1;
                    min-width: 180px;
                }

                button {
                    display: grid;
                    place-content: center;

                    padding: .5rem .75rem;

                    border: 2px solid var(--invert);
                    border-radius: 10px;

                    color: var(--main);
                    background-color: var(--invert);

                    h3 {
                        font-size: .9rem;
                        font-weight: 600;
                    }

                    svg {
                        font-size: 1.5rem;
                    }
                }

                .following {
                    color: var(--invert);
                    background-color: var(--background);
                }
            }
        }
    }

    .galleryWrap {
        display: grid;
        gap: 1rem;

        .galleryNav {
            display: flex;
            align-items: center;
            gap: .75rem;

            a {
                flex: 1;
                transition: flex 400ms ease-in-out;

                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;

                gap: .75rem;
                padding: .75rem 1.25rem;

                border-radius: 10px;
                border: 2px solid var(--invert);

                color: var(--invert);

                svg {
                    font-size: 1.25rem;
                }

                h4 {
                    font-size: 1rem;
                    text-transform: capitalize;
                }
            }

            .active {
                flex: 5;
                color: var(--main);
                background-color: var(--invert);
            }
        }
    }
}


@media (max-width: 700px) {
    .User {
        .userInfo {
            .main {
                gap: .75rem;

                img {
                    height: 7rem;

                    border-width: 4px;
                    outline-width: 2px;
                }

                section {
                    h2 {
                        font-size: 1.25rem;
                    }
                }

                footer {
                    gap: 1.25rem;

                    a {
                        width: 2.5rem;

                        svg {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .actions {
                footer {
                    button {
                        h3 {
                            font-size: .75rem;
                        }

                        svg {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }

        .galleryWrap {
            .galleryNav {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {}

                    h4 {
                        display: none;
                    }
                }

                .active:first-child {
                    justify-content: left;
                }

                .active:last-child {
                    justify-content: right;
                }
            }
        }
    }
}