.Gallery {
    position: relative;

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;

        div {
            width: 100%;
            aspect-ratio: 1;

            overflow: hidden;
            border-radius: 10px;

            cursor: pointer;
            background-color: #EEE;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Post */