.GallerySkeleton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.75rem;

  .square {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1;

    border-radius: var(--border);
    background-color: var(--gray);
  }
}

@media (max-width: 500px) {
  .GallerySkeleton {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.25rem;
  }
}
