.Loading {
    --dot_size: 1.25rem;
    --animation_time: 1000ms;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: calc(var(--dot_size) * .5);
    padding: calc(var(--dot_size) * 2);
    padding-inline: 0;

    .dot {
        transform: translateY(calc(var(--dot_size) / 2));
        animation: floating-dot var(--animation_time) alternate infinite forwards;

        width: var(--dot_size);
        aspect-ratio: 1;

        border-radius: 5px;

        background-color: var(--invert);
    }

    :nth-child(1) {
        animation-delay: 0;
    }

    :nth-child(2) {
        animation-delay: calc(var(--animation_time) / 4);
    }

    :nth-child(3) {
        animation-delay: calc(var(--animation_time) / 2);
    }
}

@keyframes floating-dot {
    from {
        transform: translateY(calc(var(--dot_size) / 2));
    }

    to {
        transform: translateY(calc(var(--dot_size) / -2));
    }
}