.Profile {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  gap: 0.75rem;

  img {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: var(--main);
  }

  section {
    h2 {
      font-size: 1rem;
      font-weight: 800;
      color: var(--main);
    }

    h3 {
      font-size: 0.75rem;
      font-weight: 300;
      color: var(--gray);
    }
  }
}

.Post {
  z-index: 150;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;

  display: none;
  align-items: center;
  justify-content: center;

  padding: var(--space);
  background-color: #000c;

  #mobile {
    display: none;
  }

  .post {
    position: relative;

    display: grid;
    grid-template-columns: auto 24rem;

    max-width: 70rem;
    width: 100%;
    height: 100%;

    border-radius: var(--border);

    background-color: var(--background);

    .image {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 2rem;

      overflow: hidden;
      height: 100%;

      picture {
        overflow: hidden;

        max-width: 100%;
        max-height: 100%;

        border-radius: var(--border);

        box-shadow: 0 0 5px var(--shadow_soft);
        background-color: var(--invert);

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    article {
      display: flex;
      flex-direction: column;

      gap: 1.5rem;
      padding: 2rem;

      min-width: 20rem;

      box-shadow: -2.5px -2.5px 5px var(--shadow_soft);

      header {
        .Profile {
          /*  */
        }

        button {
          position: absolute;
          top: 1rem;
          right: 1rem;

          display: grid;
          place-content: center;
          padding: 0.25rem;

          svg {
            font-size: 2rem;
          }
        }
      }

      .info {
        display: grid;
        gap: 1rem;

        .actions {
          display: flex;
          gap: 0.5rem;

          button {
            svg {
              font-size: 2rem;
            }
          }

          button[disabled] {
            color: var(--gray);
          }

          .liked svg {
            color: #f00;
          }
        }

        .description {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;

          h5 {
            font-size: 0.75rem;
            font-weight: 700;
            color: var(--gray);
          }

          p {
            font-size: 1rem;
            text-wrap: pretty;
          }

          p::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.Post.open {
  display: flex;
}

.Post.close {
  display: none;
}

@media (max-width: 800px) {
  .Profile {
    img {
      width: 3.5rem;
    }

    section {
      h2 {
        font-size: 1rem;
      }

      h3 {
        font-size: 0.75rem;
      }
    }
  }

  .Post {
    padding: 0;

    #mobile {
      display: grid;
      padding: 1rem;
    }

    .post {
      grid-template-columns: auto;
      grid-template-rows: auto auto 1fr;
      overflow-y: auto;
      border-radius: 0;

      .image {
        padding: 0.5rem 1rem;
      }

      article {
        padding-top: 0.5rem;
        box-shadow: none;

        header .Profile {
          display: none;
        }
      }
    }
  }
}
