.SearchBar {
  flex: 1;

  display: flex;

  height: 100%;
  max-width: 600px;

  border-radius: var(--border);

  background-color: #fff;

  input {
    flex: 1;
    padding: 0.75rem;
  }

  button {
    display: grid;
    place-content: center;

    aspect-ratio: 1.25;

    svg {
      color: #000;
      font-size: 1.25rem;
    }
  }
}
