.PhotosGallery {
    position: relative;

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: .75rem;

        div {
            max-width: 250px;
            width: 100%;
            aspect-ratio: 1;

            overflow: hidden;
            border-radius: 10px;

            cursor: pointer;
            background-color: #555;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Post */