.SkeletonGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: .75rem;

    .square {
        max-width: 250px;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 10px;
        background-color: #EEE;
    }
}