.SkeletonGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: .75rem;

    .square {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 1;

        border-radius: 10px;
        background-color: #222;
    }
}

@media (max-width: 500px) {
    .SkeletonGallery {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: .25rem;
    }
}