.SkeletonGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    .square {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 10px;
        background-color: #EEE;
    }
}