.App {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100dvh;

    /* NavBar */

    .screen {
        display: grid;

        padding: var(--space);

        color: var(--main);
        background-color: var(--background);
    }
}

:root {
    --space: clamp(.75rem, 5vw, 4rem);
}

.light {
    --main: #111;
    --background: #FFF;
    --gray: #888;
    --shadow_soft: #0002;
}

.dark {
    --main: #FFF;
    --background: #222;
    --gray: #666;
    --shadow_soft: #0002;
}