.App {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100dvh;

    /* NavBar */

    .screen {
        display: grid;

        padding: clamp(1rem, 5vw, 4rem);

        color: var(--invert);
        background-color: var(--background);
    }
}

.light {
    --main: #FFF;
    --invert: #000;
    --background: #FFF;
}

.dark {
    --main: #000;
    --invert: #EEE;
    --background: #222;
}